/* 전역적으로 적용할 기본 스타일 */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  